<dialog id="invoiceModal" class="flex-direction-column">
  <article id="invoiceToSend" class="facture-container">
    <section class="grid background-color-white">
      <!-- Infos Prestataire -->
      <div class="flex-direction-column">
        <b><h4>Prestataire</h4></b>
        <span><%= userData.user_first_name %> <%= userData.user_last_name %></span>
        <span><%= userData.user_adress %></span>
        <span><%= userData.user_city_name %> - <%= userData.user_zip_code %></span>
        <span><%= userData.user_email %></span>
      </div>

      <!-- Infos Client -->
      <div class="flex-direction-column">
        <b><h4>Client</h4></b>
        <span id="client-name"></span>
        <span id="client-adress"></span>
        <span id="client-city"></span>
        <span id="client-email"></span>
      </div>
    </section>

    <main>
      <!-- Date de Facturation -->
      <section>
        <strong>
          Facture n°<span id="invoice-number">Numero</span> - <span id="facture-month">Mois</span>
          <span id="facture-year">Année</span>
        </strong>
      </section>

      <!-- Tableau des Prestations -->
      <table class="facture-table striped">
        <thead>
          <tr>
            <th>Prestation</th>
            <th>Prix Unitaire (€)</th>
            <th>Quantité</th>
            <th>Prix Total (€)</th>
          </tr>
        </thead>
        <tbody id="prestation-price"></tbody>
        <tfoot>
          <tr>
            <th colspan="3" class="has-text-right">Total</th>
            <th id="totalPrice"></th>
          </tr>
        </tfoot>
      </table>
      <!-- Footer de la Facture -->
      <div class="grid">
        <span>TVA non applicable art.293 B du CGI</span>
        <div class="flex-direction-column">
          <span>IBAN :FR76 1610 6840 0696 0044 2209 882</span>
          <span>BIC / SWIFT : AGRIFRPP361</span>
          <span>Banque: Crédit Agricole</span>
        </div>
      </div>
    </main>
  </article>
  <footer>
    <button id="send-button" class="button is-success is-large" onclick="invoiceFormInteraction.sendEmail()">
      Envoyer la rançon
    </button>
    <button class="button is-large is-danger" onclick="closeModal()" type="button">revoir les termes</button>
  </footer>
</dialog>
