<%- include('partials/head.ejs') %>

<section>
  <form class="mar-bot" action="/client-add" method="POST">
    <!-- RAISON SOCIALE (nom ou entreprise) -->
    <div class="field">
      <div class="control columns is-3">
        <!-- RAISON SOCIALE -->
        <div class="column field">
          <label class="label">Entreprise OU nom de famille</label>
          <input
            class="input is-large"
            type="text"
            name="clientName"
            placeholder="Ex: Basic Frite OU Marie Henry"
            required
          />
        </div>

        <!--  -->
        <div class="column field">
          <label class="label">Email</label>
          <input class="input is-large" name="email" placeholder="client@mail.com" required />
        </div>
      </div>
    </div>

    <!-- ADRESSE -->
    <div class="field">
      <div class="control columns is-3">
        <!-- NOM RUE -->
        <div class="column field">
          <label class="label">Nom de rue </label>
          <input class="input is-large" name="adress" placeholder="95 Boulevard Saint Symphorien" required />
        </div>

        <!-- VILLE -->
        <div class="column field">
          <label class="label">Ville</label>
          <input class="input is-large" name="city" placeholder="Longeville les Metz" required />
        </div>

        <!-- CODE POSTAL -->
        <div class="column field">
          <label class="label">Code postal</label>
          <input class="input is-large" name="zipCode" placeholder="57050" required />
        </div>
      </div>
    </div>

    <!-- BOUTON SUBMIT -->
    <div class="field">
      <div class="control">
        <button class="button is-primary" type="submit">Ajouter contact</button>
      </div>
    </div>
  </form>

  <div>
    <h2 class="title is-4">Liste des clients</h2>
    <% if (clients) { %> <% clients.forEach(function(client) { %>
    <form action="/client-delete" method="post" class="box is-flex is-justify-content-space-between">
      <div>
        <p><strong>Entreprise/Nom:</strong> <%= client.client_name %></p>
        <p><strong>Adresse:</strong> <%= client.formattedAdress %></p>
        <p><strong>Mail:</strong> <%= client.client_email %></p>
      </div>
      <!-- ADD INPUT WITH RECORD ID FOR DELETING HERE -->
      <input type="hidden" name="recordId" value="<%= client.recordId %>" />

      <div>
        <button class="button is-primary" type="button" onclick="openModal('<%= client.recordId %>')">Modifier</button>
        <button class="button is-danger" type="submit">X</button>
      </div>
    </form>

    <div id="<%= client.recordId %>" class="modal">
      <div class="modal-background"></div>
      <form action="/client-update" method="POST">
        <!-- RAISON SOCIALE (nom ou entreprise) -->
        <div class="field">
          <div class="control columns is-3">
            <!-- RAISON SOCIALE -->
            <div class="column field">
              <label class="label">Entreprise OU nom de famille</label>
              <input class="input is-large" type="text" name="clientName" value="<%= client.client_name %>" required />
            </div>

            <!-- EMAIL -->
            <div class="column field">
              <label class="label">Email</label>
              <input class="input is-large" name="email" value="<%= client.client_email %>" required />
            </div>
          </div>
        </div>

        <!-- ADRESSE -->
        <div class="field">
          <div class="control columns is-3">
            <!-- NOM RUE -->
            <div class="column field">
              <label class="label">Nom de rue </label>
              <input class="input is-large" name="adress" value="<%= client.client_adress %>" required />
            </div>

            <!-- VILLE -->
            <div class="column field">
              <label class="label">Ville</label>
              <input class="input is-large" name="city" value="<%= client.client_city_name %>" required />
            </div>

            <!-- CODE POSTAL -->
            <div class="column field">
              <label class="label">Code postal</label>
              <input class="input is-large" name="zipCode" value="<%= client.client_zip_code %>" required />
            </div>
          </div>
        </div>

        <input type="hidden" name="recordId" value="<%= client.recordId %>" />

        <!-- BOUTON SUBMIT -->
        <div class="field">
          <div class="control is-flex is-justify-content-space-between">
            <button class="button is-primary" type="submit">Mettre à jour</button>
            <button class="button is-danger" type="button" onclick="closeModal('<%= client.recordId %>')">
              Annuler
            </button>
          </div>
        </div>
      </form>
    </div>

    <% }); %> <% } %>
  </div>
</section>

<%- include('partials/footer.ejs') %>
