<%- include('partials/head.ejs') %>

<main>
  <form action="/client-add" method="POST">
    <section class="grid">
      <!-- RAISON SOCIALE -->
      <label>
        Entreprise OU nom de famille
        <input type="text" name="clientName" placeholder="Basic Frite/Marie Henry" required />
      </label>

      <!-- Email -->
      <label>
        Email
        <input name="email" placeholder="raton_braqueur@mail.com" required />
      </label>
    </section>

    <section class="grid">
      <!-- NOM RUE -->
      <label class="label">
        Nom de rue
        <input name="adress" placeholder="5 Rue de la Banque" required />
      </label>

      <!-- VILLE -->
      <label class="label">
        Ville
        <input name="city" placeholder="Money" required />
      </label>

      <!-- CODE POSTAL -->
      <label class="label">
        Code postal
        <input name="zipCode" placeholder="99999" required />
      </label>
    </section>
    <input type="hidden" name="userId" value="<%= userId %>" />
    <button type="submit">Ajouter client</button>
  </form>
  <hr />
  <section class="overflow-auto">
    <% if (clients) { %>
    <table class="striped">
      <thead>
        <tr>
          <th>👤 Client</th>
          <th>🏠 Adresse</th>
          <th>✉️ Email</th>
          <th>⚙️ Actions</th>
        </tr>
      </thead>
      <tbody>
        <% clients.forEach(function(client) { %>
        <tr>
          <td><%= client.client_name %></td>
          <td><%= client.formattedAdress %></td>
          <td><%= client.client_email %></td>
          <td>
            <form id="form-delete-client" action="/client-delete" method="post" class="grid">
              <input type="hidden" name="recordId" value="<%= client.recordId %>" />

              <span edit-client-id="<%= client.client_id %>" class="is-clickable">✏️</span>
              <span delete-client-id="<%= client.client_id %>" id="span-delete-button-client" class="is-clickable"
                >❌</span
              >
            </form>
          </td>
        </tr>

        <dialog id="<%= client.client_id %>">
          <article>
            <form action="/client-update" method="POST">
              <section class="grid">
                <!-- RAISON SOCIALE -->
                <label>
                  Entreprise ou Nom de famille
                  <input type="text" name="clientName" value="<%= client.client_name %>" required />
                </label>

                <!-- Email -->
                <label>
                  Email
                  <input type="email" name="email" value="<%= client.client_email %>" required />
                </label>
              </section>

              <!-- ADRESSE -->
              <section class="grid">
                <!-- RUE -->
                <label>
                  Adresse
                  <input name="adress" value="<%= client.client_adress %>" required />
                </label>

                <!-- VILLE -->
                <label>
                  Ville
                  <input name="city" value="<%= client.client_city_name %>" required />
                </label>

                <!-- CODE POSTAL -->
                <label>
                  Code postal
                  <input name="zipCode" value="<%= client.client_zip_code %>" required />
                </label>
              </section>

              <input type="hidden" name="recordId" value="<%= client.recordId %>" />

              <section class="grid">
                <button type="submit">Mettre à jour</button>
                <button type="button" onclick="closeModal('<%= client.client_id %>')">Annuler</button>
              </section>
            </form>
          </article>
        </dialog>

        <% }); %>
      </tbody>
    </table>
    <% } %>
  </section>
  <script src="/scripts/clientFront.js"></script>
</main>

<%- include('partials/footer.ejs') %>
