<%- include('partials/head.ejs') %>

<main>
  <form id="invoiceForm">
    <input type="hidden" name="userEmail" value="<%= userData.user_email %>" />
    <input type="hidden" name="userLastName" value="<%= userData.user_last_name %>" />
    <input type="hidden" name="userFirstName" value="<%= userData.user_first_name %>" />

    <fieldset class="grid">
      <!-- Client -->
      <select id="selectClient" name="clientEmail" required>
        <option selected disabled value="">Client</option>
        <% if (clientsData) {%> <% clientsData.forEach(client => { %>
        <option value="<%= client.client_id %>"><%= client.client_name %></option>
        <% }) %><% } %>
      </select>

      <!-- Mois de facturation -->
      <select id="selectMonth" name="invoiceMonth" required>
        <option selected disabled value="">Mois</option>
        <% months.forEach((month) => { %>
        <option value="<%= month %>"><%= month %></option>
        <% }); %>
      </select>

      <!-- Numéro de facture -->
      <input id="inputInvoiceNumber" placeholder="N° Facture" type="text" name="invoiceNumber" required />

      <!-- Générer facture -->
      <button id="submitButton" type="button" onclick="showInvoicePreview()" disabled>Prévisualiser la facture</button>
    </fieldset>

    <nav>
      <ul>
        <li><span data-tab="invoiceTab" class="tab-button active-tab">Facturation</span></li>
        <li><span data-tab="invoiceHistoryTab" class="tab-button">Historique</span></li>
      </ul>
    </nav>
    <hr />
    <!-- Liste prestation -->
    <section id="invoiceTab" class="tab-content active">
      <table class="striped">
        <thead>
          <tr>
            <th>Prestation</th>
            <th>Prix</th>
            <th>Nombre</th>
          </tr>
        </thead>
        <tbody>
          <% if (services) { %> <% services.forEach(service => { %>
          <tr data-service-id="<%= service.service_id %>">
            <td><%= service.service_name %></td>
            <td><%= service.service_price %>€</td>
            <td>
              <input
                class="margin-none"
                type="number"
                name="services[<%= service.service_id %>][quantity]"
                value="0"
                min="0"
                required
              />
              <input
                type="hidden"
                name="services[<%= service.service_id %>][name]"
                value="<%= service.service_name %>"
              />
              <input
                type="hidden"
                name="services[<%= service.service_id %>][price]"
                value="<%= service.service_price %>"
              />
            </td>
          </tr>
          <% }) %> <% } %>
        </tbody>
      </table>
    </section>

    <!-- Historique des factures -->
    <section id="invoiceHistoryTab" class="tab-content">
      <h2>Historique des factures</h2>
    </section>

    <%- include('modals/invoiceModal.ejs') %>
  </form>

  <script src="/scripts/invoiceFront.js"></script>
</main>

<%- include('partials/footer.ejs') %>
