<%- include('partials/head.ejs') %>

<section>
  <form class="mar-bot" action="/profile-update" method="POST">
    <!-- IDENTITE -->
    <div class="control columns is-3">
      <!-- PRENOM -->
      <div class="column field">
        <label class="label">Prénom</label>
        <input class="input is-large" name="lastName" value="<%= user.user_last_name %>" type="text" required />
      </div>

      <!-- NOM DE FAMILLE -->
      <div class="column field">
        <label class="label">Nom de famille</label>
        <input class="input is-large" name="firstName" value="<%= user.user_first_name %>" required />
      </div>

      <!-- EEMAIL -->
      <div class="column field">
        <label class="label">Email</label>
        <input class="input is-large" name="email" value="<%= user.user_email%>" required />
      </div>
    </div>

    <!-- ADRESSE -->
    <div class="control columns is-3">
      <!-- RUE -->
      <div class="column field">
        <label class="label">Rue</label>
        <input class="input is-large" name="adress" value="<%= user.user_adress%>" type="text" required />
      </div>

      <!-- VILLE -->
      <div class="column field">
        <label class="label">Ville</label>
        <input class="input is-large" name="city" value="<%= user.user_city_name%>" required />
      </div>

      <!-- CODE POSTAL -->
      <div class="column field">
        <label class="label">Code postal</label>
        <input class="input is-large" name="zipCode" value="<%= user.user_zip_code%>" required />
      </div>
    </div>

    <!-- ADRESSE -->
    <div class="control columns is-3">
      <!-- RUE -->
      <div class="column field">
        <label class="label">Forme juridique</label>
        <input class="input is-large" name="legalForm" value="<%= user.legal_form%>" type="text" required />
      </div>

      <!-- SIRET -->
      <div class="column field">
        <label class="label">SIRET</label>
        <input class="input is-large" name="siret" value="<%= user.user_siret%>" required />
      </div>
    </div>

    <!-- RECCORD ID -->
    <input type="hidden" name="recordId" value="<%= user.recordId %>" />

    <!-- BOUTON SUBMIT -->
    <div class="field">
      <div class="control">
        <button class="button is-primary" type="submit">Modifier</button>
      </div>
    </div>
  </form>
</section>

<%- include('partials/footer.ejs') %>
