<%- include('partials/head.ejs') %>

<main>
  <form action="/service-add" method="POST">
    <section class="grid">
      <!-- PRESTATION -->
      <label>
        Préstation
        <input type="text" name="serviceName" placeholder="Squats, Soulevé de terre, etc..." required />
      </label>

      <!-- PRIX -->
      <label>
        Prix
        <input type="number" name="servicePrice" placeholder="25" required />
      </label>
    </section>

    <button type="submit">Ajouter préstation</button>
  </form>

  <section class="grid custom-grid">
    <% if (services) { %> <% services.forEach(function(service) { %>

    <article>
      <form action="/service-delete" method="post" class="card-display">
        <section class="flex-direction-column">
          <b><span>💪 <%= service.service_name %></span></b>
          <span>💲 <%= service.service_price %></span>
        </section>
        <!-- ADD INPUT WITH RECORD ID FOR DELETING HERE -->
        <input type="hidden" name="recordId" value="<%= service.recordId %>" />

        <section class="grid">
          <button type="button" onclick="openModal('<%= service.service_id %>')">✏️</button>
          <button type="submit">❌</button>
        </section>
      </form>
    </article>

    <dialog id="<%= service.service_id %>">
      <article>
        <form action="/service-update" method="POST">
          <div class="control columns is-3">
            <!-- PRESTATION -->
            <label>
              Préstation
              <input type="text" name="serviceName" value="<%= service.service_name %>" required />
            </label>

            <!-- PRIX -->
            <label>
              Prix
              <input type="number" name="servicePrice" value="<%= service.service_price %>" required />
            </label>
          </div>

          <input type="hidden" name="recordId" value="<%= service.recordId %>" />

          <!-- BOUTON SUBMIT -->
          <section class="grid">
            <button class="button is-primary" type="submit">Mettre à jour</button>
            <button class="button is-danger" type="button" onclick="closeModal('<%= service.service_id %>')">
              Annuler
            </button>
          </section>
        </form>
      </article>
    </dialog>

    <% }); %> <% } %>
  </section>
</main>

<%- include('partials/footer.ejs') %>
