<%- include('partials/head.ejs') %>

<section>
  <form class="mar-bot" action="/services" method="POST">
    <div class="control columns is-3">
      <!-- PRESTATION -->
      <div class="column field">
        <label class="label">Préstation</label>
        <input
          class="input is-large"
          type="text"
          name="serviceName"
          placeholder="Programme personnalisé, cours collectifs, etc..."
          required
        />
      </div>

      <!-- PRIX -->
      <div class="column field">
        <label class="label">Prix</label>
        <input class="input is-large" type="number" name="servicePrice" placeholder="25" required />
      </div>
    </div>

    <!-- BOUTON SUBMIT -->
    <div class="field">
      <div class="control">
        <button class="button is-primary" type="submit">Ajouter préstation</button>
      </div>
    </div>
  </form>

  <div>
    <h2 class="title is-4">Liste des préstations</h2>

    <% if (services) { %> <% services.forEach(function(service) { %>
    <form action="/service-delete" method="post" class="box is-flex is-justify-content-space-between">
      <div>
        <p class="is-size-5"><strong>Préstation:</strong> <%= service.service_name %></p>
        <p class="is-size-5"><strong>Prix:</strong> <%= service.service_price %>€</p>
      </div>
      <!-- ADD INPUT WITH RECORD ID FOR DELETING HERE -->
      <input type="hidden" name="recordId" value="<%= service.recordId %>" />

      <div>
        <!-- <button class="button is-primary">Modifier</button> -->
        <button class="button is-danger" type="submit">X</button>
      </div>
    </form>
    <% }); %> <% } %>
  </div>
</section>

<%- include('partials/footer.ejs') %>
