<%- include('partials/head.ejs') %>

<main>
  <table>
    <thead>
      <tr>
        <th>Année</th>
        <th>Total</th>
        <th>URSAFF</th>
        <th>Détails</th>
      </tr>
    </thead>
    <tbody>
      <% if (formatedInvoicesSummary) { %> <% formatedInvoicesSummary.forEach(el => { %>

      <!-- Ligne de l'année -->
      <tr class="is-clickable" onclick="toggleDetails('<%= el.invoice_year %>')">
        <td><%=el.invoice_year%></td>
        <td><%=el.totalIncome%>€</td>
        <td><%=el.totalURSSAF%>€</td>
        <td>⬇️</td>
      </tr>

      <!-- Détails de l'année -->
      <tr id="<%= el.invoice_year %>" class="is-hidden">
        <td colspan="4">
          <table class="striped">
            <thead>
              <tr>
                <th>Mois</th>
                <th>Revenus</th>
                <th>URSAFF</th>
              </tr>
            </thead>
            <tbody>
              <% if (el.invoice_months) { %> <% el.invoice_months.forEach(month => { %>
              <tr>
                <td><%= month.month %></td>
                <td><%= month.totalIncome %></td>
                <td><%= month.URSSAF %></td>
              </tr>
              <% })} %>
            </tbody>
          </table>
        </td>
      </tr>

      <% })} %>
    </tbody>
  </table>
</main>

<%- include('partials/footer.ejs') %>
