<input type="hidden" name="userEmail" value="<%= userData.user_email %>" />
<input type="hidden" name="userLastName" value="<%= userData.user_last_name %>" />
<input type="hidden" name="userFirstName" value="<%= userData.user_first_name %>" />

<fieldset class="grid">
  <!-- Client -->
  <select id="selectClient" name="clientEmail" required>
    <option selected disabled value="">Client</option>
    <% if (clientsData) {%> <% clientsData.forEach(client => { %>
    <option value="<%= client.client_id %>"><%= client.client_name %></option>
    <% }) %><% } %>
  </select>

  <!-- Mois de facturation -->
  <select id="selectMonth" name="invoiceMonth" required>
    <option selected disabled value="">Mois</option>
    <% months.forEach((month) => { %>
    <option value="<%= month %>"><%= month %></option>
    <% }); %>
  </select>

  <!-- Numéro de facture -->
  <input id="inputInvoiceNumber" placeholder="N° Facture" type="text" name="invoiceNumber" required />

  <!-- Générer facture -->
  <button id="submitButton" type="button" onclick="showInvoicePreview()" disabled>Prévisualiser la facture</button>
</fieldset>

<nav>
  <ul>
    <li><span data-tab="invoiceServicesTab" class="tab-button active-tab">Facturation</span></li>
    <li><span data-tab="invoiceHistoryTab" class="tab-button">Historique</span></li>
  </ul>
</nav>
